@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Login - SMART_PRINTER_SERVICE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMART_PRINTER_SERVICE.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <button><a style="border: 1px solid #333" asp-area="" asp-controller="Home" asp-action="Index">Login</a></button>
    </header>
    
</body>
</html>
