<style>
	.contain{
		display: flex;
	}
	.up{
		flex: 1;
		background-color: #B9DDF6;
	}
	.down{
		flex: 1;
		background-color: #D7D7FF;
	}
</style>
<div class="contain">
	<div class="up">

	</div>
	<div>class="down">

	</div>
</div>