button {
    font-family: 'Roboto';
}

.grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.recharge-button {
    background-color: white;
    padding-left: 8px;
    padding-bottom: 7px;
    padding-top: 0px;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0px;
    border-color: rgb(162, 158, 158);
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    font-size: 20px;
    line-height: 24px;
}
/* Add a black background color to the top navigation */
.topnav {
    /*background-color: violet;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Style the links inside the navigation bar */


.shape {
    /*position: absolute;*/
    height: 3px;
    left: 40%;
    right: 40%;
    bottom: 0px;
    background: #6750A4;
    border-radius: 100px 100px 0px 0px;
    order: 0;
}

.link-active:hover {
    background-color: #eae5f9;
}

.link:hover {
    background-color: rgb(206, 203, 203);
}
.link-active,
.link {
    font-weight: 600;
    color: #49454F;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-align: center;
    padding: 15px 50px 0px 50px;
    text-decoration: none;
    border-bottom: rgb(225, 224, 224) 0.1px solid;
    background: #FEF7FF;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-width: 1px;
    height: 40px;
    align-items: center;
}

.view-all {
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 0px;
    text-align: match-parent;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

.history-and-view-available {
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.flexbox2 {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0.1px;
    height: 47px;
    align-items: center;
}

.file-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 5px;
    margin-bottom: 5px;
}

.file-info-grid {
    margin-top: 9px;
    display: grid;
    grid-template-columns: 40px 1fr;
}

.file-picture {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 6px;
    text-align: center;
    width: 25px;
    height: 29px;
    border-radius: 25px;
    border-style: none;
}

.file-price {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    ;
}

.recharge-buyprinting-button {
    background-color: white;
    color: black;
    border-style: solid;
    height: 200%;
    width: 100%;
    border-width: 1px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
    line-height: 22px;
    transition: box-shadow 0.15s;
}

.recharge-buyprinting-button1 {
    background-color: black;
    color: white;
    border-style: solid;
    height: 200%;
    width: 100%;
    border-width: 1px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    font-size: 20px;
    line-height: 22px;
    transition: box-shadow 0.15s;
}

.grid0 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.profile-picture {
    width: 80%;
    height: 70%;
}
