@{
    Layout = "_LayoutSPSO";
}
@model List<Printer>

<div class="ManagePrinter-addPrinter text-center border">
    <div class="addPrinter-title font-weight-bold">
        <form asp-controller="Printer" asp-action="Search" method="post">
            <input type="text" class="search-input" name="searchTerm" placeholder="Find a printer">
            <button type="submit" class="btn btn-primary mb-2" style="padding-left: 10px">Search</button>
        </form>
    </div>
</div>

<!-- Display search results -->
<div>
    @if (Model != null && Model.Any())
    {
        foreach (var printer in Model)
        {
            <p>@printer.PrinterName</p>
            <!-- Display other properties as needed -->
        }
    }
    else
    {
        <p>No results found.</p>
    }
</div>


@* ======= Model add printer ======== *@
<div class="modal-add-printer js-modal">
    <div class="modal-container js-modal-container">
        <div class="modal-header">
            <div class="modal-close js-modal-close" onclick="closeModalAddPrinter()">
                <i class="ti-close"></i>
            </div>
            <i class="modal-icon ti-printer"></i>
            Tickets
        </div>
        <div class="modal-body">
            <label for="quantify-ticket" class="modal-label">
                <i class="ti-user"></i>
                Printer Name
            </label>
            <input type="text" id="quantify-ticket" class="modal-input" placeholder="Enter Name">
            <label for="quantify-send" class="modal-label">
                <i class="ti-location-pin"></i>
                Add on
            </label>
            <input type="text" id="quantify-send" class="modal-input" placeholder="Enter Location">

            <button class="modal-but">
                Add
                <i class="ti-check"></i>
            </button>
        </div>
    </div>
</div>
<script>
    function showModalAddPrinter() {
        document.querySelector('.modal-add-printer').classList.add('open');
    }

    function closeModalAddPrinter() {
        document.querySelector('.modal-add-printer').classList.remove('open');
    }
</script>
