:root {
    --bg-color: rgba(247,242,250,255);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
}

header {
    position: relative;
}

.container-home {
    /*width: 1120px;*/
    width: calc(100% - 360px);
    position: absolute;
    left: 360px;
    padding: 0;
    /*top: 110px;*/
}