:root {
    --bg-color: rgba(247,242,250,255);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
}

header {
    position: relative;
}

.container-home {
    /*width: 1120px;*/
    width: calc(100% - 360px);
    position: absolute;
    left: 360px;
    padding: 0;
    /*top: 110px;*/
}
.cancle-btn {
    background-color: black;
    border-radius: 10px;
    color: white;
}
.confirm-btn {
    border: solid black 1px;
    color: black;
    border-radius: 10px;
    background-color: white;
}
.top-back-nav {
    box-shadow: 0px 1px 2px 0px rgba(191,180,180,0.63);
    -webkit-box-shadow: 0px 1px 2px 0px rgba(191,180,180,0.63);
    -moz-box-shadow: 0px 1px 2px 0px rgba(191,180,180,0.63);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 5px 15px;
}