:root {
    --bg-color: rgba(247,242,250,255);
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

header {
    position: relative;
}

/*.container {
    width: 1120px;
    position: absolute;*/
    /*left: 360px;*/
    /*top: 110px;
}*/