button {
    font-family: 'Roboto';
}

.grid {
    margin-top: 5px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 5px;
}

.recharge-button {
    background-color: white;
    padding-left: 8px;
    padding-bottom: 7px;
    padding-top: 0px;
    text-align: left;
    font-weight: 700;
    cursor: pointer;
    border-style: none;
    border-bottom-style: solid;
    border-width: 0px;
    border-color: rgb(162, 158, 158);
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.12);
    font-size: 20px;
    line-height: 24px;
}

.div3 {
    background-color: white;
    text-align: left;
    font-weight: 700;
    width: 100%;
    font-size: 20px;
    line-height: 24px;
}

.grid1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 3px;
}

.fieldset1 {
    font-size: 16px;
    line-height: 24px;
    padding: 4px 0px 12px 16px;
    width: 90%;
    height: 45px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: #6750A4;
}

.fieldset2 {
    font-size: 16px;
    line-height: 24px;
    padding: 4px 0px 12px 16px;
    width: 50%;
    height: 45px;
    border: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 3px;
    border-color: #6750A4;
}

.legend {
    color: #6750A4;
    font-size: 12px;
    line-height: 16px
}

.day {
    font-size: 12px;
    line-height: 16px;
    color: #49454F;
    padding-left: 15px;
    padding-top: 1px;
}

.flexbox2 {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-style: solid;
    border-color: rgba(0, 0, 0, 0.1);
    border-width: 0.1px;
    height: 47px;
    align-items: center;
}

.file-name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 5px;
    margin-bottom: 5px;
}

.file-info-grid {
    margin-top: 9px;
    display: grid;
    grid-template-columns: 40px 1fr;
}

.file-picture {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 6px;
    text-align: center;
    width: 25px;
    height: 29px;
    border-radius: 25px;
    border-style: none;
}

.file-price {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    ;
}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 2px;
}

.left {
    text-align: right;
    font-size: 12px;
    font-weight: 600;
}

.right {
    font-size: 12px;
    font-weight: 600;
}

.footer {
    font-size: 21px;
    line-height: 20px;
    font-weight: 700;
    margin: 10px;
}

.profile-picture {
    width: 80%;
    height: 70%;
}
