@{
    ViewData["Title"] = "Print";
}
<h1>@ViewData["Title"]</h1>

<p>Con mèo kêu meo meo, code vào đây nhé :'(</p>
 <a class="nav-link text-dark" asp-area="" asp-controller="Print" asp-action="PrintPreview">UploadFile</a>
                        
