@{
    ViewData["Title"] = "UploadPage";
}
@*<h1>@ViewData["Title"]</h1>*@


@*<div style="background-color: white; height: 35px; align-items:center; position: relative; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);">
    <button class="recharge-button" style="border: none; background-color: transparent; margin-top: 10px;">
        <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"></i> Print
    </button>
</div>*@
<div class="top-back-nav">
    <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: black">
        <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"> </i>
    </a>
    Upload
</div>
<h5 style="font-size:60px; font-weight: 600; padding: 30px;">
    Choose a file to upload: (Accepted type: PDF, Word, JPG/JPEG, TIFF, AI)
</h5>
 <a class="nav-link text-dark  text-md-center btn-link" asp-area="" asp-controller="Print" asp-action="PrintPreview">
    <img src="../Images/UploadIcon.png" style="align-items: center; justify-content:center; width: 30%; height: auto"/>
    <h3 style="color: #808080">Browser</h3>
</a>
                        
