@{
    ViewData["Title"] = "UploadPage";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <div class="top-back-nav">
                <a asp-area="" asp-controller="Home" asp-action="Index" style="text-decoration: none; color: black">
                    <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"></i>
                </a>
                Upload
            </div>

            <h5 class="mt-4">Choose a file to upload: (Accepted types: PDF, Word, JPG/JPEG, TIFF, AI)</h5>

            <form method="post" enctype="multipart/form-data" action="/api/FileUpload/UploadFile">
                <input type="file" name="file" style="display: none;" id="fileInput" />
                <label for="fileInput" class="upload-label btn btn-outline-primary">
                    <i class="fa fa-upload"></i> Browse
                </label>
                <input type="submit" value="Upload" style="display: none;" />
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script>
        // Trigger file input click when label is clicked
        document.querySelector('.upload-label').addEventListener('click', function () {
            document.getElementById('fileInput').click();
        });

        // Show file name when a file is selected
        document.getElementById('fileInput').addEventListener('change', function () {
            var fileName = this.files[0].name;
            alert('Selected file: ' + fileName);
        });
    </script>
}
