<!DOCTYPE html>
<html lang="en">

<body style="
      padding-top: -25px;
      font-family: 'Roboto';
  ">
    <div class="grid">
        <div style="background-color: white; height: 65px; position: relative;">
            <button class="recharge-button">
                <i class="fa fa-angle-left" style="font-size:24px; width: 24px;"></i> Recharge money
            </button>
        </div>
        <div style="background-color: white; height: 55px;">
            <div class="div2">
                Recharge Money
            </div>
        </div>
        <div style="background-color: white; height: 22px;">
            <div class="div3">
                Amount
            </div>
        </div>
        <div style="background-color: white; height: 40px;">
            <input type="text" placeholder="Enter amount">
        </div>
        <div style="background-color: white; height: 40px;">
            <div class="div3">
                Payment method
            </div>
        </div>
        <div style="background-color: white; height: 300px;">
            <div class="grid0">
                <div class="grid1">
                    <div class="icon-payment">
                        <img class="momo" src="~/Images/momo.jpg">
                    </div>
                    <div class="icon-payment">
                        <img class="bkpay" src="~/Images/app_bkpay.png">
                    </div>
                    <div class="icon-payment">
                        <div class="bank">
                            <img class="bank" src="~/Images/museum.png">
                        </div>
                    </div>
                    <div class="button-payment">
                        <button class="momo-button">
                            MOMO
                        </button>
                    </div>
                    <div class="button-payment">
                        <button class="momo-button">
                            BKPAY
                        </button>
                    </div>
                    <div class="button-payment">
                        <button class="momo-button">
                            BANKING
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>