@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*<div style="background-color: white; height: 35px; align-items:center; position: relative; box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);">
    <button class="recharge-button" style="border: none; background-color: transparent; margin-top: 10px;">
        <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"></i> Print
    </button>
</div>*@
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recharge - SMART_PRINTER_SERVICE</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d3n4q0ofc8TzLpDIhG8sznhBwIJeNEFvhhQOp8YfL8eMh6f1kMzZL7iW9MKZQj3" crossorigin="anonymous">

</head>
<div class="top-back-nav">
    <a asp-area="" asp-controller="Print" asp-action="PrintPreview" style="text-decoration: none; color: black">
        <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"> </i>
    </a>
    Confirm
</div>
<div class="container-confirm">
    <div class="user-info">

        <div class="user-icon">
            <img src="~/Images/avtIcon.svg" />
        </div>
        <div class="user-text-info">
            <h3>Welcome Nguyen Van A</h3>
            <p>uploaded a document</p>
        </div>
    </div>
    <div class="document-name">
        <p>
            CSS for idiots.pdf
        </p>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Paper format</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Print color</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Print format</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Printer</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Printed Pages</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Number of pages</p>
        <div class="display-info"> </div>
    </div>

    <div class="confirm-info-group">
        <p class="title-confirm"> Number of copies</p>
        <div class="display-info"> </div>
    </div>
    <div class="row gx-0 btn-bottom-group">
        <div class="col">
            <a asp-area="" asp-controller="Print" asp-action="PrintPreview" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                <div class="btn-bottom cancle-btn">
                    Cancle
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-area="" asp-controller="Home" asp-action="Print" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                <div class="btn-bottom confirm-btn" onclick="submit()">
                    Confirm
                </div>
            </a>
        </div>
    </div>
</div>

<script>
    let blance_list = document.querySelectorAll(".confirm-info-group .display-info");
    blance_list[0].innerHTML= localStorage.getItem('paper');
    blance_list[1].innerHTML = localStorage.getItem('color');
    blance_list[2].innerHTML = localStorage.getItem('format');
    blance_list[3].innerHTML = localStorage.getItem('printer');
    blance_list[4].innerHTML = localStorage.getItem('printingPage');
    blance_list[6].innerHTML = localStorage.getItem('numOfCopies');
    let pages = localStorage.getItem('printingPage').split("-");
    if (pages.length>1){
      
        console.log("lenght: ",pages.length);
        blance_list[5].innerHTML = pages[1]-pages[0];
    }
</script>
