@{
    ViewData["Title"] = "View";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recharge - SMART_PRINTER_SERVICE</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d3n4q0ofc8TzLpDIhG8sznhBwIJeNEFvhhQOp8YfL8eMh6f1kMzZL7iW9MKZQj3" crossorigin="anonymous">
    <script>
        function validatePageNumber() {
            var pageNumberInput = document.getElementById("blank-printing-pages").value;
            var pages = pageNumberInput.split("-");
            var totalPageCount = parseInt(document.getElementById("totalPageCount").value);
            if (pages.length === 2) {
                var startPage = parseInt(pages[0]);
                var endPage = parseInt(pages[1]);
                if (!isNaN(startPage) && !isNaN(endPage) && startPage <= endPage && endPage <= totalPageCount) {
                    return true;
                }
            }
            alert("Invalid page number range. Please enter a valid range.");
            return false;
        }
    </script>
</head>

<div class=" container-content">

    <div class="container-text-content">
        <p class="allow-type">Choose a file to upload: (Accept type: PDF, Word, JPG/JPEG, TIFF, AI)</p>
        <div class="document-name">
            <p id="uploadedFileName">
                <!-- Display the uploaded file name here -->
                @ViewBag.UploadedFileName
            </p>
        </div>
    </div>
    <div class="row gx-0 two-box">
        <div class="col  preview-window"></div>
        <div class="col property-window">
            <h2 class="printer">Printer</h2>
            <div class="btn-group printer-group " role="group">
                <button id="printer-btn" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Chooose a printer
                </button>
                <ul class="dropdown-menu choose-btn p-0" aria-labelledby="btnGroupDrop1">
                    <li><p class="dropdown-item m-0">Floor 5 H2</p></li>
                    <li><p class="dropdown-item m-0">Canteen H3</p></li>
                    <li><p class="dropdown-item m-0">WC H6</p></li>
                    <li><p class="dropdown-item m-0">Parking lot</p></li>
                </ul>
            </div>
            <form>
                <label class="printed-pages" for="Ppages">Printing pages</label><br>
                <input type="text" id="blank-printing-pages" class="default-in-input" name="Ppages" placeholder="Write in format x-y, if empty then print all pages"><br>
            </form>
            <div class="btn-group paper-group" role="group">
                <button id="paper-btn" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Paper
                </button>
                <ul class="dropdown-menu choose-btn p-0" aria-labelledby="btnGroupDrop1">
                    <li><p class="dropdown-item m-0" href="#">A4</p></li>
                    <li><p class="dropdown-item m-0" href="#">A3</p></li>
                    <li><p class="dropdown-item m-0" href="#">Letter</p></li>
                    <li><p class="dropdown-item m-0" href="#">Legal</p></li>
                </ul>
            </div>
            <br />
            <div class="btn-group color-group" role="group">
                <button id="color-btn" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Color
                </button>
                <ul class="dropdown-menu choose-btn p-0" aria-labelledby="btnGroupDrop1">
                    <li><p class="dropdown-item m-0" href="#">Black/White</p></li>
                    <li><p class="dropdown-item m-0" href="#">Color</p></li>
                    <li><p class="dropdown-item m-0" href="#">Grayscale</p></li>
                    <li><p class="dropdown-item m-0" href="#">Spot color</p></li>
                </ul>
            </div>
            <br />
            <div class="btn-group format-group" role="group">
                <button id="format-btn" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Format
                </button>
                <ul class="dropdown-menu choose-btn p-0" aria-labelledby="btnGroupDrop1">
                    <li><p class="dropdown-item m-0" href="#">Double sided</p></li>
                    <li><p class="dropdown-item m-0" href="#">Single sides</p></li>
                </ul>
            </div>
            <form>
                <label class="printed-pages" for="num-of-cops">Number of copies</label><br>
                <input type="text" id="blank-copies" class="default-in-input" name="num-of-cops" placeholder="Enter number, 1 for default"><br>
            </form>
            <div class="row gx-0 btn-bottom-group">
                <div class="col">
                    <a asp-area="" asp-controller="Home" asp-action="Print" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                        <div class="btn-bottom cancle-btn">
                            Cancel
                        </div>
                    </a>
                </div>

                <div class="col">
                    <!-- Add the hidden input field to store total number of pages -->
                    <input type="hidden" id="totalPageCount" value="5"> <!-- Update this value with the actual total number of pages -->
                    <!-- Modify your Confirm Print buttons to call the validation function -->
                    <a asp-controller="Print" asp-action="confirmPrint" asp-route-uploadedFileName="@ViewBag.UploadedFileName"
                       onclick="return validatePageNumber()"
                       style="text-decoration-line: none; text-align: center; font-size: 13px; line-height: 28px; font-family: Roboto; font-weight: 500;">
                        <div class="btn-bottom confirm-btn ">
                            Normal printing
                        </div>
                    </a>
                </div>
                <div class="col">
                    <!-- Similar modification for the Quick Print button -->
                    <a asp-controller="Print" asp-action="confirmPrint" asp-route-uploadedFileName="@ViewBag.UploadedFileName"
                       onclick="return validatePageNumber()"
                       style="text-decoration-line: none; text-align: center; font-size: 13px; line-height: 28px; font-family: Roboto; font-weight: 500;">
                        <div class="btn-bottom confirm-btn ">
                            Quick printing
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //set default for property
    let temp = "";
    localStorage.setItem("printer", temp);
    localStorage.setItem("format", temp);
    localStorage.setItem("paper", temp);
    localStorage.setItem("color", temp);
    temp = "print all pages";
    localStorage.setItem("printingPage", temp);
    temp = 1;
    localStorage.setItem("numOfCopies", temp);
    console.log("printingPages: ", localStorage.getItem("printingPage"));
    const printer = document.getElementById("printer-btn");
    const color = document.getElementById("color-btn");
    const paper = document.getElementById("paper-btn");
    const format = document.getElementById("format-btn");
    let subPrinters = document.querySelectorAll(".printer-group .dropdown-item");
    let subFormats = document.querySelectorAll(".format-group .dropdown-item");
    let subColors = document.querySelectorAll(".color-group .dropdown-item");
    let subPapers = document.querySelectorAll(".paper-group .dropdown-item");
    function getInfoPrint() {
        let printingPage = document.getElementById("blank-printing-pages").value;
        let numOfCopies = document.getElementById("blank-copies").value;
        if (printingPage.length > 0) {
            localStorage.setItem("printingPage", document.getElementById("blank-printing-pages").value);
        }
        if (numOfCopies.length > 0) {
            localStorage.setItem("numOfCopies", document.getElementById("blank-copies").value);
        }
    }
    for (let i = 0; i < subPrinters.length; i++) {
        subPrinters[i].addEventListener("click", function () {
            printer.innerText = subPrinters[i].innerHTML;
            localStorage.setItem("printer", printer.innerText);
        })
    }
    for (let i = 0; i < subFormats.length; i++) {
        subFormats[i].addEventListener("click", function () {
            format.innerText = subFormats[i].innerHTML;
            localStorage.setItem("format", format.innerText);
        })
    }
    console.log(localStorage.getItem('printer'));
    for (let i = 0; i < subPapers.length; i++) {
        subPapers[i].addEventListener("click", function () {
            paper.innerText = subPapers[i].innerHTML;
            localStorage.setItem("paper", paper.innerText);
        })
    }
    for (let i = 0; i < subColors.length; i++) {
        subColors[i].addEventListener("click", function () {
            color.innerText = subColors[i].innerHTML;
            localStorage.setItem("color", color.innerText);
        })
    }
</script>