
@{
    ViewData["Title"] = "View";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recharge - SMART_PRINTER_SERVICE</title>
   @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    @*<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-d3n4q0ofc8TzLpDIhG8sznhBwIJeNEFvhhQOp8YfL8eMh6f1kMzZL7iW9MKZQj3" crossorigin="anonymous">
</head>
<div class="top-back-nav">
    <a asp-area="" asp-controller="Home" asp-action="Print" style="text-decoration: none; color: black">
        <i class="fa fa-angle-left" style="font-size:19px; width: 20px;"> </i>
    </a>
    Print preview
</div>
<div class=" container-content">
   
    <div class="container-text-content">
        <p class="allow-type">Choose a file to upload: (Accept type: PDF, Word, JPG/JPEG, TIFF, AI)</p>
        <div class="document-name">
            <p>
                CSS for idiots.pdf
            </p>
        </div>
    </div>
    <div class="row gx-0 two-box">

        <div class="col  preview-window"></div>
        <div class="col property-window">
            <h2 class="printer">Printer</h2>
            <div class="btn-group " role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Chooose a printer
                </button>
                <ul class="dropdown-menu choose-btn" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Floor 5 H2</a></li>
                    <li><a class="dropdown-item" href="#">Canteen H3</a></li>
                    <li><a class="dropdown-item" href="#">WC H6</a></li>
                    <li><a class="dropdown-item" href="#">Parking lot</a></li>
                </ul>
            </div>
            <form>
                <label class="printed-pages" for="Ppages">Printed pages</label><br>
                <input type="text" class="default-in-input" name="Ppages" placeholder="Write in format x-y, if empty then print all pages"><br>
             </form>
             <div class="btn-group " role="group">
                <button id="btnGroupDrop2" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Paper
                </button>
                <ul class="dropdown-menu choose-btn" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">A4</a></li>
                    <li><a class="dropdown-item" href="#">A3</a></li>
                    <li><a class="dropdown-item" href="#">Letter</a></li>
                    <li><a class="dropdown-item" href="#">Legal</a></li>
                </ul>
            </div>
            <br />
            <div class="btn-group " role="group">
                <button id="btnGroupDrop3" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                    Color
                </button>
                <ul class="dropdown-menu choose-btn" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Black/White</a></li>
                    <li><a class="dropdown-item" href="#">Color</a></li>
                    <li><a class="dropdown-item" href="#">Grayscale</a></li>
                    <li><a class="dropdown-item" href="#">Spot color</a></li>
                </ul>
            </div>
            <br />
            <div class="btn-group " role="group">
                <button id="btnGroupDrop4" type="button" class="btn btn-primary dropdown-toggle choose-btn" data-bs-toggle="dropdown" aria-expanded="false">
                   Format
                </button>
                <ul class="dropdown-menu choose-btn" aria-labelledby="btnGroupDrop1">
                    <li><a class="dropdown-item" href="#">Double sided</a></li>
                    <li><a class="dropdown-item" href="#">Single sides</a></li>
                 
                </ul>
            </div>
             <form>
                <label class="printed-pages" for="num-of-cops">Number of copies</label><br>
                <input type="text" id="" class="default-in-input" name="Ppages" placeholder="Enter number, 1 for default"><br>
             </form>
            <div class="row gx-0 btn-bottom-group">
                 <div class="col">
                    <a asp-area="" asp-controller="Home" asp-action="Print" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                        <div class="btn-bottom cancle-btn">
                            Cancel
                        </div>
                    </a>
                 </div>

                <div class="col">
                    <a asp-area="" asp-controller="Print" asp-action="confirmPrint" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                        <div class="btn-bottom confirm-btn">
                            Quick printing
                        </div>
                    </a>
                </div>
                <div class="col">
                    <a asp-controller="Print" asp-action="confirmPrint" style="text-decoration-line: none;  text-align: center; font-size: 13px; line-height: 28px;   font-family: Roboto;
        font-weight: 500;">
                        <div class="btn-bottom confirm-btn ">
                            Normal printing
                        </div>
                    </a>
                </div>
             </div>
        </div>
    </div>
</div>

