
@{
    ViewData["Title"] = "View";
}

<h1>this is print preview</h1>
<div class=" container-content">
    <div class="row gx-0">
        <div class="col  border border-1 ">col</div>
        <div class="col border border-1">col</div>
    </div>
</div>
