<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMART PRINTER SERVICE</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMART_PRINTER_SERVICE.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="~/font/themify-icons/themify-icons.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @*NHUNG FONT VAO PROJECJ*@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div class="header-container">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SMART_PRINTER_SERVICE</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item " onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="HomePage">Home</a>
                            </li>
                            <li class="nav-item" onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Print" >Print</a>
                            </li>
                            <li class="nav-item" onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RechargeMoney" >Recharge Money</a>
                            </li>
                            <li class="nav-item" onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BuyPrintingMoney" >Buy Printing Money</a>
                            </li>
                            <li class="nav-item" onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="OrderStatus" asp-action="OrderStatus" >Order Status</a>
                            </li>
                            <li class="nav-item" onclick="setActive(this)">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="History" >History</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="footer-nav">
                <h2>CONTACT US</h2>
                <div class="col col-half s-col-full contact-info">
                    <p><i style="padding-right: 4px" class="ti-location-pin"></i>  268 Lý Thường Kiệt, P.14, Q.10, TP.HCM</p>
                    <p><i style="padding-right: 4px" class="ti-mobile"></i> <a href="tel: +028 38651670">+028 38651670</a> </p>
                    <p><i style="padding-right: 4px" class="ti-email"></i> <a href="mailto: elearning@hcmut.edu.vn">elearning@hcmut.edu.vn</a> </p>
                </div>
            </div>
        </div>
    </header>

    <div class="container container-home">
        <div class="title-header">
            <div class="title-header-intro">
                <div class="title-header-intro-logo"> <img src="~/img/BKLogo/logo-header.png" alt="" style="height: 100%; width: auto;"> </div>
                <div class="title-header-intro-content">Ho Chi Minh City University of Technology</div>
            </div>
            <div class="title-header-logout">
                <div class="title-header-logout-container">
                    <div class="title-header-logout-text">Logout</div>
                    <i class="title-header-logout-icon ti-shift-right"></i>
                </div> 
            </div>
        </div>
        <main role="main" class="main-full-screen pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var currentPageController = '@ViewContext.RouteData.Values["controller"]';
            var currentPageAction = '@ViewContext.RouteData.Values["action"]';
            var navLinks = document.querySelectorAll('.navbar-nav li a');
            console.log(currentPageController);
            console.log(currentPageAction);
            if (currentPageController === "Home" && currentPageAction == "HomePage") {
                navLinks[0].parentNode.classList.add('active');
            }
            else {
                console.log('Script is running!');
                
                console.log(navLinks);
                navLinks.forEach(function (link) {
                    console.log('Script is running!');
                    var hrefValue = link.getAttribute('href');
                    var parts = hrefValue.split('/');
                    console.log(parts);
                    console.log(parts.length);
                    var linkController = parts[1];
                    var linkAction = parts[2];
                    console.log(linkController);
                    console.log(linkAction);
                    if (linkController === currentPageController && linkAction === currentPageAction) {

                        link.parentNode.classList.add('active');
                        console.log("Làm thằng khác");
                    }
                });
            }
            
        });

        function setActive(element) {
            // Lấy tất cả các thẻ <a> trong thanh điều hướng
            var navLinks = document.querySelectorAll('.navbar-nav .nav-item .nav-link');

            // Loại bỏ lớp 'active' từ tất cả các thẻ <a>
            navLinks.forEach(function (link) {
                link.classList.remove('active');
            });

            // Đặt lớp 'active' cho thẻ <a> được nhấp vào
            element.classList.add('active');
        }
        function setActive(element) {
            // Lấy tất cả các thẻ <a> trong thanh điều hướng
            var navLinks = document.querySelectorAll('.navbar-nav .nav-item');

            // Loại bỏ lớp 'active' từ tất cả các thẻ <a>
            navLinks.forEach(function (link) {
                link.classList.remove('active');
            });

            // Đặt lớp 'active' cho thẻ <a> được nhấp vào
            element.classList.add('active');
        }
        
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

