/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 360px;

    padding-top: 55px;
    background-color: rgba(247,242,250,255)!important;
}

.navbar .container-fluid, .navbar  ul {
        display: flex;
        flex-direction: column;
        
}

.navbar ul > li {
    border: 1px solid #000000 !important;
}
    .navbar ul > li:hover {
        background-color: #ede9f1;
        border-radius: 10px; /* Bo tròn góc của mục khi di chuột */
        //transition: background-color 0.3s; /* Tạo hiệu ứng màu nền mượt mà */
    }

.container-fluid div {
    width: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
